<div id="skills-carousel">
<div class="skill-1 skill-element selected-skill"><%= image_tag("skills/windows.png") %></div>
<div class="skill-2 skill-element"><%= image_tag("skills/mac.png") %></div>
<div class="skill-3 skill-element"><%= image_tag("skills/linux.png") %></div>
<div class="skill-4 skill-element"><%= image_tag("skills/ruby.png") %></div>
<div class="skill-5 skill-element"><%= image_tag("skills/php.png") %></div>
<div class="skill-6 skill-element"><%= image_tag("skills/cpp.png") %></div>
</div>
<div id="skills-content">
  <h2 class="skill-1 skills-title">Windows</h2>
  <ul class="skill-1 skills-notes">
    <li>I am famaliar with the Windows environment.</li>
  </ul>
  <h2 class="skill-2 skills-title">Mac OS X</h2>
  <ul class="skill-2 skills-notes">
    <li>I am famaliar with the Mac OS X environment.</li>
    <li>I also have experience with using MS-DOS, Windows XP, and Windows 8.</li>
  </ul>
</div>
