<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "ruiyang" %>
  <%= yield(:head) %>
</head>
<body>
  <div id="page-wrapper">
    <div id="header" class="header-bg">
      <div id="site-banner">
        <a href="/"><%= image_tag("site-logo.png") %></a>
        <h2 id="name-title" class="header-text">SOFTWARE DEVELOPER</h2>
        <h1 id="site-name" class="header-text"><a href="/">RICHARD LIU</a></h1>
      </div>
      <div id="primary-navigation">
        <ul>
          <a href="/blog"><li>blog</li></a>
          <a href="/skills"><li>skills</li></a>
          <a href="/rl_resume_jun_20_2013.pdf"><li>resume</li></a>
          <a href="#"><li class="last-menu-item">contact</li></a>
        </ul>
        </div>
    </div>
    <div id="content" class="content-bg">
      <div id="sa">
        <%= image_tag("charichard.png") %>
      </div>
      <%= yield %>
    </div>
  </div>
  <div id="footer" class="white-bg">
    <div style="display: inline-block; margin: 7px 25px">Made in China</div>
    <span class="social-icons">
      <ul>
        <li><a href="http://www.facebook.com/ruiyang.liu"><%= image_tag("social-icons/facebook.png") %></a></li>
        <li><a href="https://twitter.com/RuiyangLiu"><%= image_tag("social-icons/twitter.png") %></a></li>
        <li><a href="http://www.linkedin.com/pub/ruiyang-liu/49/439/9aa"><%= image_tag("social-icons/linkedin.png") %></a></li>
        <li><a href="http://stackoverflow.com/users/1100504/ruiyang"><%= image_tag("social-icons/stackoverflow.png") %></a></li>
        <li><a href="https://github.com/ruiyangliu"><%= image_tag("social-icons/github.png") %></a></li>
      </ul>
    </span>
  </div>
</body>
</html>
